::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #F2F2F2;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: #032859;
    border-radius: 3px;
}

.fundo-login {
    background: linear-gradient(to right, #011C40, #032859, #000000);
}

.fundo-padrao {
    background-color: #F2F2F2;
}

.color {
    background-color: #032859;
}

.color-text {
    color: #032859;
}

.logo {
    position: relative;
    border-bottom: solid 3px #032859;
}

.menu-container {
    width: 17%;
}

.main-container {
    display: flex;
    height: 45em;
}

.area {
    width: 83%;
}

.area::-webkit-scrollbar {
    width: 5px;
}

.area::-webkit-scrollbar-track {
    background:#032859;
    border-radius: 3px;
}

.area::-webkit-scrollbar-thumb {
    background:#032859;
    border-radius: 3px;
}

.btnMenu {
    display: none;
    cursor: pointer;
}

.menu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: #011C40;
    font-size: 1.2em;

}

.menu a {
    text-decoration: none;
}

.container-completo {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 4em;
    padding: 2em;
}

.container {
    width: 45%;
    height: auto;
}

.form-group {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.escrito-entrar {
    color: #032859;
    font-size: 2.5em;
}

.form-control {
    padding: 1.6em;
    width: 70%;
}

.form-select-cadastro {
    width: 70%;
}

.btn-primary {
    background-color: #032859;
    padding: 0.8em;
    width: 200px;
    font-size: 1.2em;
    border: none;
}

.campo-senha {
    display: flex;
    align-items: center;
}

.formulario {
    width: 50%;
}

.lista-categorias {
    height: 300px;
    overflow-y: scroll;
    border-top: solid 2px #032859;
}

.lista_usuarios {
    width: 80%;
}

@media screen and (max-width:768px) {
    .container-completo {
        flex-direction: column;
        margin-top: 0;
    }

    .container {
        width: 100%;
    }

    .formulario {
        width: 90%;
    }

    .color-text {
        font-size: 1.4em;
    }

    .menu {
        display: none;
    }

    .ativo {
        margin-bottom: 100px;
    }

    #menu-ativo.ativo .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 1.1em;
    }

    .btnMenu {
        display: flex;
    }

    .escolha-categoria {
        width: 80%;
        padding: 0.8em;
    }

    .escolha-categoria h2 {
        font-size: 1.7em;
        text-align: center;
    }

    .escolha-categoria .form-select-categoria {
        width: 90%;
    }

    .escolha-categoria .mb-3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-container {
        flex-direction: column;
    }

    .menu-container {
        width: 100%;
    }

    .area {
        width: 100%;
    }

    .lista_usuarios {
        width: 90%;
    }

}